
$title-dark-color: #333333;
$primary-light-color: #fff;
$main-text-color: #999999;
$green-theme-main-color: #95E1D3;
$cream-theme-upper-color: #f38181;
$cream-theme-lower-color: #fce38a;
$form-border-color: #e5e5e5;


$main-font-family: 'Roboto', sans-serif;
$main-font-size: 15px;
$main-line-height: 24px;
$main-font-weight: 400;

$title-font: 'Montserrat', sans-serif;
$italic-title-font: 'Kaushan Script', cursive;